{% extends 'base.html' %}
{% block content %}

<div class="max-w-md mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg">
    <h2 class="text-xl font-bold mb-10 text-center">Ecrire un billet</h2>
    <form method="post" class="space-y-4" enctype="multipart/form-data">

        {{ blog_form.as_p }}
        {{ photo_form.as_p }}
        {% csrf_token %}
        
        <button class="w-full bg-red-600 text-white p-2 rounded-lg hover:bg-red-700 transition" type="submit">Publier</button>
    </form>
</div>

{% endblock content %}