{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>
	<body class="bg-orange-100 text-gray-900">
		<header class="bg-transparent backdrop-blur-md">
			<div class="mx-auto max-w-screen-xl px-4 sm:px-6 sm:py-8 lg:px-8">
				<div class="flex flex-col items-start gap-4 md:flex-row md:items-center md:justify-between">
					<div>
						<h1 class="md:text-2xl font-bold sm:text-3xl">
							<a href="{% url 'home' %}">
								Fotoblog
							</a>
						</h1>
						<p class="mt-1.5 text-sm text-gray-500">
						Foto-vlogez en un clic!
						</p>
					</div>
			
					<div class="flex items-center gap-4">			
						<a href="{% url 'photo_upload' %}">
							<button class="inline-block rounded bg-red-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-red-700 focus:ring-3 focus:outline-hidden" type="button">
								Poster une photo
							</button>
						</a>

						{% if user.is_authenticated %}
							{% if user.profile_photo %}
								<a href="{% url 'blog_create' %}">
									<button class="inline-block rounded bg-orange-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-orange-700 focus:ring-3 focus:outline-hidden" type="button">
										Publier un billet
									</button>
								</a>
								<a href="{% url 'profile' %}">
									<img class="h-16 w-16 rounded-full border border-gray-200 bg-white transition hover:text-gray-700 focus:ring-3 focus:outline-hidden"  src="{{ user.profile_photo.url }}" alt="">
								</a>
							{% else %}
								<a class="h-16 w-16 rounded-full border border-gray-200 bg-white transition hover:text-gray-700 focus:ring-3 focus:outline-hidden" href="{% url 'profile' %}"></a>
							{% endif %}    
						{% else %}
							<a href="{% url 'login' %}">
								<button class="inline-flex items-center justify-center gap-1.5 rounded border border-gray-200 bg-white px-5 py-3 text-gray-900 transition hover:text-gray-700 focus:ring-3 focus:outline-hidden text-sm font-medium" type="button">
									Se connecter
								</button>
							</a>
						{% endif %}
					</div>
				</div>
			</div>
		</header>
		<div class="container mx-auto">
			{% block content %}
			{% endblock content %}
		</div>
	</body>
</html>