{% extends 'base.html' %}

{% block content %}

<div class="max-w-md mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg">
    <h2 class="text-xl font-bold mb-10 text-center">Changer le mot de passe</h2>
    
    <form method="post" class="space-y-4">
        {% csrf_token %}
        
        {{ form.as_p }}
        <button 
            type="submit" 
            class="w-full bg-orange-600 text-white p-2 rounded-lg hover:bg-orange-700 transition">
            Modifier le mot de passe
        </button>
    </form>
</div>

{% endblock content %}