{% extends 'base.html' %}
{% block content %}

<div class="max-w-md mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg">
    <h2 class="text-xl font-bold mb-4 text-center">Profil</h2>
    
    <p class="text-gray-700">Nom d'utilisateur: {{ user.username }}</p>
    <p class="text-gray-700">Prenom: {{ user.first_name }}</p>
    <p class="text-gray-700">Nom: {{ user.last_name }}</p>
    <p class="text-gray-700">Email: {{ user.email }}</p>
    
    <a href="{% url 'upload_profile_photo' %}" class="mt-10 inline-block rounded bg-green-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-green-700 focus:ring-3 focus:outline-hidden">Changer la photo de profil</a>
    <div class="mt-6 flex justify-between items-center">
        <a href="{% url 'password_change' %}" class="inline-block rounded bg-orange-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-orange-700 focus:ring-3 focus:outline-hidden">Modifier le mot de passe</a>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="inline-flex items-center justify-center gap-1.5 rounded border border-gray-200 bg-white px-5 py-3 text-gray-900 transition hover:text-gray-700 focus:ring-3 focus:outline-hidden text-sm font-medium">Se déconnecter</button>
        </form>
    </div>
</div>

{% endblock content %}